
<div class="container">
	<div class="row">
		<div class="col-md-1"> </div>
		<div class="col-md-3">
			<h1>A Little <span class= "changeBlue">About</span> Me.</h1>
			<div class="socialBox">
					<div class="row">
						<div class="col">
						  <img src="<%= asset_path('happy.png')%>"  alt="">
							<a href="https://www.dropbox.com/s/6lktb5q388ivpkv/FIRMAN_CAHYANDI_RESUME.docx?dl=0"><button type="button" class="btn btn-default center-block changeWhite"> Resume</button></a>
							<a href="https://twitter.com/firman_original"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="https://github.com/Firmanc"><i class="fa fa-github" aria-hidden="true"></i></a>
							<a href="https://linkedin.com/in/firman-cahyandi"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="container" id="rightAbout">
				<div class="row">
					<div class="col-md-12" id="textAbout">
					<p class="addPadding"><strong>Hello, I’m Firman Cahyandi, a junior software developer based in Sydney. </strong></p>
						<p>I am currently pursuing to improve my programming skill by taking a full time boot camp course at Code Factory Academy, while seeking opportunities to be involve in some amazing project and join a passionate team.</p>

					<p>I hold a Bachelor of Commerce majoring in Information System from Curtin University, and have worked in various industries. I always have the desire to keep learning and looking to grow professionally.</p>
					</div>
				</div>
			</div>
<!--			copy-->
	<div class="dynamicTile">
		<h3>My Interests.</h3>
			<div class="row" id="caroBox">
					<div class="col-xs-3 col-md-2">
							 <div class="carousel slide" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										 <img src="<%= asset_path('food.png')%>"/>
									</div>
									<div class="item">
										 <img src="<%= asset_path('burger.png')%>"/>
									</div>
									<div class="item">
										 <img src="<%= asset_path('chicken.png')%>"/>
									</div>
								</div>
							</div>
				</div>
				<div class="col-xs-3 col-md-2">
							 <div class="carousel slide" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										<img src="<%= asset_path('sports.png')%>"/>
									</div>
									<div class="item">
										<img src="<%= asset_path('bball.png')%>"/>
									</div>
									<div class="item">
										<img src="<%= asset_path('soccer.png')%>"/>
									</div>
								</div>
							</div>
				</div>
				<div class="col-xs-3 col-md-2">
							 <div class="carousel slide" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										<img src="<%= asset_path('music.png')%>"/>
									</div>
									<div class="item">
										<img src="<%= asset_path('biggie.png')%>"/>
									</div>
									<div class="item">
										<img src="<%= asset_path('snoop.png')%>"/>
									</div>
								</div>
							</div>
				</div>
			</div>
		</div>
<!--	copy-->
	</div>
	</div>
</div>


