
<div class="container">
	<div class="row">
		<div class="col-md-1"> </div>
		<div class="col-md-3">
			<h1>A Little <span class= "changeBlue">About</span> Me.</h1>


			<div class="socialBox">
					<div class="row">
						<div class="col">
						  <img src="<%= asset_path('happy.png')%>"  alt="" height="180" width="180">
							<button type="button" class="btn btn-default center-block changeWhite"> Resume </button>
							<i class="fa fa-twitter" aria-hidden="true"></i>
							<i class="fa fa-github" aria-hidden="true"></i>
							<i class="fa fa-linkedin" aria-hidden="true"></i>
						</div>
					</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="container" id="rightAbout">
				<div class="row">
					<div class="col-md-12" id="textAbout">
					<h3>Hello There.</h3>
					<p><strong>Im a junior software designer based in Sydney, Austalia </strong></p>
						<p>I have a passion for technology, startups, growth, food and cricket!</p>

					I have recently graduated in Accg/Fin but am pursuing a career in technology! I have always been interested in startups, growth in businesses, and the ability to create through web development.

					I am currently learning full-stack web development through a bootcamp course run by Coder Factory in Sydney and will be pursuing opportunities in this area soon after completion of the course in July, 2017.</p>
					</div>
				</div>
			</div>
<!--			copy-->
	<div class="dynamicTile">
		<h3>My Interest.</h3>
			<div class="row" id="caroBox">
					<div class="col-xs-3 col-md-2">
							 <div class="carousel slide" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										 <img src="<%= asset_path('food.png')%>"/>
									</div>
									<div class="item">
										 <img src="<%= asset_path('burger.png')%>"/>
									</div>
									<div class="item">
										 <img src="<%= asset_path('chicken.png')%>"/>
									</div>
								</div>
							</div>
				</div>
				<div class="col-xs-3 col-md-2">

							 <div class="carousel slide" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										<img src="<%= asset_path('sports.png')%>"/>
									</div>
									<div class="item">
										<img src="<%= asset_path('bball.png')%>"/>
									</div>
									<div class="item">
										<img src="<%= asset_path('soccer.png')%>"/>
									</div>
								</div>
							</div>
				</div>
				<div class="col-xs-3 col-md-2">
							 <div class="carousel slide" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										<img src="<%= asset_path('music.png')%>"/>
									</div>
									<div class="item">
										<img src="<%= asset_path('biggie.png')%>"/>
									</div>
									<div class="item">
										<img src="<%= asset_path('snoop.png')%>"/>
									</div>
								</div>
							</div>
				</div>
			</div>
		</div>
<!--	copy-->
	</div>
	</div>
</div>
