<%= render "partials/topnav" %>

	
<%= render "partials/nav" %>

<main>
	<section id="main-section" class="slides">
		<%= render "start" %>
	</section>
	<section id="about-section" class="slides">
		<%= render "about" %>
	</section>
	<section id="skills-section" class="slides">
		<%= render "skills" %>
	</section>
	<section id="work-section" class="slides">
		<%= render "work" %>
	</section>
	<section id="contact-section" class="slides">
    <%= render "contact" %>
	</section>
</main>
